.message {
    display: flex;
    flex-direction: column;

}

.imageAndText {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 50px
}

.text {
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
}

.text:after {

}

.name {

}

.messageText {

}

.time {
    padding: 0 5px;
    align-self: flex-end;

}